SECRET_KEY=секрктный ключ проекта из settings.py
NAME=название проекта в постгресс
USER=имя пользователя постгресс
PASSWORD=пароль(если установлен)
HOST=локальный хост
PORT=номер используемого порта

STRIPE_SECRET_KEY=Секретный ключ Stripe

EMAIL_BACKEND =
EMAIL_HOST = EMAIL_HOST
EMAIL_PORT = EMAIL_PORT
EMAIL_HOST_USER = EMAIL_HOST_USER
EMAIL_HOST_PASSWORD = EMAIL_HOST_PASSWORD
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True


SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

CELERY_BROKER_URL =
CELERY_RESULT_BACKEND =
